.DS_Store

#-------------------------
application/controllers/*
application/helpers/*
application/models/*
#-------------------------

!application/index.html

application/core/*
application/config/autoload.php
application/config/config.php
application/config/database.php
application/config/routes.php

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

application/libraries/*

!application/*/.htaccess
!application/*/index.html

composer.lock

uploads/*
!uploads/index.html

/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

license.txt
robots.txt
contributing.md
.editorconfig

# Visual Studio Code
.vscode/

/results/
/phpunit*.xml
/.phpunit.*.cache

/.php-cs-fixer.php
